@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);

    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}

html, body {
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
    min-height: 100vh;
    
}

body {
    background-image: url( '../images/pattern-background-desktop.svg' );
    background-color: var(--Pale-blue);
    background-repeat: no-repeat;
    background-size: contain;

    
    display: flex;
    justify-content: center;
    align-items: center;
}
.Sumarycard {
    border-radius: 10px;
    background-color: white;
    max-width: 420px;
    min-width: 350px;
    display: grid;
    margin: 30px;
}
.Sumarycard__img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    object-fit: cover;
    
}
.Sumarycard__text {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}
.Sumarycard__textArea {
    text-align: center;
}
.Sumarycard__title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--Dark-blue);


}
.Sumarycard__paragraph {
    color:var(--Desaturated-blue);
}
.Sumarycard__plan {
    display: grid;
    
    background-color: var(--Very-pale-blue);
    border-radius: 10px;
    padding: 20px 5px;
    grid-template-areas: 
    "music plan change"
    "music price change";
}
.Sumarycard__planIcon {
    grid-area: music;
}
.Sumarycard__planAnual {
    display: flex;
    justify-content: left;
    font-weight: 900;
    color: var(--Dark-blue);
    grid-area: plan;
}
.Sumarycard__planPrice {
    display: flex;
    justify-content: left;
    grid-area: price;
    color: var(--Desaturated-blue);
}
.Sumarycard__changeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: change;
    text-decoration: none;
    color: var(--Bright-blue);
    font-weight: 700;
}
.Sumarycard__changeBtn:hover{
    opacity: .7;
}
.Sumarycard__payBtn{
    font-weight: 700;
    color: white;
    box-shadow: 0px 20px 15px var(--Pale-blue);
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--Bright-blue);
    padding: 15px 5px;
}
.Sumarycard__payBtn:hover{
    opacity: .7;
}
.Sumarycard__cancelBtn {
    color:var(--Desaturated-blue);
    text-decoration: none;
    font-weight: 700;
}
.Sumarycard__cancelBtn:hover {
    color: var(--Dark-blue);
}

@media (max-width: 420px) {
    body {
        background-image: none;
    }
}